body {
    margin: 0;
    padding: 0;
    display: flex;
    border: 10px solid red;
    height: 100vh;
    justify-content: center; 
    align-items: center;
}

.kalkulater-container {
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(0, 47, 255);
    background-color: rgb(129, 36, 36);
    align-items: center;
    width: 300px;
    
}

.kalkulater-container div{
    display: flex;
    border: 10px solid rgb(0, 47, 255);
    padding: 100px; 
    width: 300px;
}

#display-output {
    display: flex;
    flex-direction: column;
    align-items: end;    
    font-family: 'Courier New', Courier, monospace;
    height: 10px; 
    width:250px;
    /* padding-left: 0px;
    padding-top: 10px; */
    padding: 5vh 0px 12vh 5vh
}

#output {
    flex: 1;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    border: 0px;
  
}

#button-nums, #button-operators {
    display: flex;
    padding: 0px;;
    flex-wrap: wrap;
} 

button {
    flex: 1;
    width: 50px;
    height: 50px;
    padding: 1.2em;
    text-align: center;

}

#button-nums {
    width: 350px;
}

#zero-button {
    flex-grow: 2;
}

#equals-button {
    flex-grow: 5;
}
